NODE_ENV=development
PORT=8083
DB_HOST=localhost
DB_PORT=3306
DB_USER=changeme
DB_PASSWORD=changeme
DB_NAME=auth
DB_CONNECTION_LIMIT=10
LOG_LEVEL=info
JWT_SECRET=ch4ng3-m3-in-pr0duct10n-pl34s3
JWT_ISSUER=rp-auth-system
JWT_ACCESS_TOKEN_EXPIRES_IN=900
JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
